.byebug_history
.env*
.git
.gitignore
.dockerignore
.github/*
Brewfile
Procfile*
docker-compose.*
Dockerfile
coverage/*
log/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*
tmp/*
