.byebug_history
.codeclimate.yml
.dockerignore
.env.example
.env*
.eslintignore
.eslintrc.js
.foreman
.git
.github
.gitignore
.rspec
.rubocop.yml
.vscode
.yarnclean
**/*.DS_Store
Brewfile
coverage
docker-compose.*
Dockerfile
Guardfile
log/*
node_modules
Procfile*
public/assets/*
public/packs-test
public/packs/*
public/uploads
tmp/*
!tmp/pids/
!tmp/pids/.keep
yarn-error.log
