version: '2'
services:
  db:
    image: 'postgres'
    environment:
      - POSTGRES_PASSWORD
    volumes:
      - "db-data:/var/lib/postgresql/data"

  backup:
    image: schickling/postgres-backup-s3
    links:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE
      - S3_ACCESS_KEY_ID
      - S3_SECRET_ACCESS_KEY
      - S3_BUCKET
      - S3_REGION
      - S3_PREFIX=backup
      - SCHEDULE

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.0
    environment:
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false
    volumes:
      - "es-data:/usr/share/elasticsearch/data"

  memcached:
    image: memcached:1.4-alpine

  redis:
    image: redis:3.2-alpine

  app: &app_base
    build: .
    environment:
      - DB_HOST=db
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - REDIS_SIDEKIQ_URL=redis://redis:6379/0
      - REDIS_CABLE_URL=redis://redis:6379/1
      - MEMCACHED_HOST=memcached
      - SECRET_KEY_BASE
      - DB_USER
      - DB_PASSWORD
      - RAILS_ENV
      - APP_HOST
      - APP_ADMIN_EMAIL
      - APP_ADMIN_PASSWORD
      - APP_EMAIL
      - PIWIK_HOST
      - PIWIK_ID
      - SMTP_SERVER
      - SMTP_PORT
      - SMTP_DOMAIN
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - SMTP_AUTHENTICATION
      - SMTP_ENABLE_STARTTLS_AUTO
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_BUCKET
      - AWS_REGION
    ports:
      - "80"
    links:
      - elasticsearch
      - db
      - redis
      - memcached

  worker:
    <<: *app_base
    command: bundle exec sidekiq
    ports: []
    depends_on:
      - app

  selenium:
    image: selenium/standalone-chrome
    ports:
      - "4444:4444"
      - "5900:5900"

  test:
    <<: *app_base
    environment:
      - DB_HOST=db
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - REDIS_SIDEKIQ_URL=redis://redis:6379/0
      - REDIS_CABLE_URL=redis://redis:6379/1
      - MEMCACHED_HOST=memcached
      - SELENIUM_REMOTE_HOST=selenium
      - RAILS_ENV=test
      - SECRET_KEY_BASE
      - DB_USER
      - DB_PASSWORD
      - APP_HOST
      - APP_ADMIN_EMAIL
      - APP_ADMIN_PASSWORD
      - APP_EMAIL
      - PIWIK_HOST
      - PIWIK_ID
      - SMTP_SERVER
      - SMTP_PORT
      - SMTP_DOMAIN
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - SMTP_AUTHENTICATION
      - SMTP_ENABLE_STARTTLS_AUTO
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_BUCKET
      - AWS_REGION
    depends_on:
      - selenium

volumes:
  db-data:
  es-data:
