html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 140px;
}

footer {
  height: 90px;
  padding: 10px 0;
  font-size: 90%;
  background: $gray-light;
  color: $gray-lighter;
}
