html, body {
  height: 100%;
}

#main {
  margin-top: 80px;
  margin-bottom: 30px;
}

.table-borderless td, .table-borderless th {
  border: 0;
}

td.js-row-link {
  cursor: pointer;
}

td em {
  font-weight: bold;
  font-style: normal;
}

.form-inputs, .form-actions {
  margin-top: 1rem;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 75%;
  background: $gray-700;
  color: $gray-200;

  dl.row {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  #main {
    margin-bottom: 180px;
  }

  footer {
    position: fixed;

    dd {
      margin-bottom: 0;
    }
  }
}

img.square {
  object-fit: cover;
  width: 172px;
  height: 172px;
}

img.muted {
  opacity: 0.3;
}

.fileinput-button {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: $gray-200;
  color: $gray-700;

  .message {
    padding: 15px;
  }
}
