html, body {
  height: 100%;
}

#main {
  margin-top: 80px;
  margin-bottom: 30px;
}

td.js-row-link {
  cursor: pointer;
}

td em {
  font-weight: bold;
  font-style: normal;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 75%;
  background: $gray-light;
  color: $gray-lighter;

  dl.row {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  #main {
    margin-bottom: 180px;
  }

  footer {
    position: fixed;

    dd {
      margin-bottom: 0;
    }
  }
}

// Fix toggler on small displays
// https://github.com/twbs/bootstrap/pull/21722
@include media-breakpoint-down(nth(map-keys($grid-breakpoints), 1)) {
  nav > .container {
    margin-right: 0;
    margin-left: 0;
  }
}

.nowrap {
  white-space: nowrap;
}
