- cache do
  .row
    .col-md-4
      dl.dl-horizontal
        dt Version
        dd= Rails.application.version
        dt Build time
        dd= Rails.application.build_time.try(:in_time_zone)
        dt Environment
        dd= Rails.env
    .col-md-4
      dl.dl-horizontal
        dt Ruby
        dd= "#{RUBY_VERSION} patchlevel #{RUBY_PATCHLEVEL}"
        dt RubyGems
        dd= Gem::VERSION
        dt Bundler
        dd= Bundler::VERSION
        dt Rails
        dd= Rails::VERSION::STRING
    .col-md-4
      dl.dl-horizontal
        dt MySQL
        dd= ActiveRecord::Base.connection.select_rows('SHOW VARIABLES WHERE Variable_name = "version"')[0][1]
        dt Redis
        dd= Sidekiq.redis_info['redis_version'] rescue '[not connected]'
        dt memcached
        dd= Rails.cache.stats.first.second['version'] rescue '[not connected]'
        dt Elasticsearch
        dd= Searchkick.server_version
